In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.orm import sessionmaker
from connector_config import postgresql as settings

In [2]:
def get_engine(user, passwd, host, port, db):
    url = f"postgresql://{user}:{passwd}@{host}:{port}/{db}"
    engine = create_engine(url, pool_size=50, echo=False)
    return engine

In [3]:
engine = get_engine(settings['pguser'],
    settings['pgpasswd'],
    settings['pghost'],
    settings['pgport'],
    settings['pgdb'])

In [4]:
engine.url

postgresql://postgres:***@34.133.128.59:5432/postgres

In [5]:
def get_engine_from_settings():
    keys = ['pguser', 'pgpasswd', 'pghost', 'pgport', 'pgdb']

    if not all(key in keys for key in settings.keys()):
        raise Exception('Bad Config File')
    return get_engine(settings['pguser'],
        settings['pgpasswd'],
        settings['pghost'],
        settings['pgport'],
        settings['pgdb'])

In [6]:
engine = get_engine_from_settings()

In [7]:
def get_session():
    engine = get_engine_from_settings()
    session = sessionmaker(bind=engine)()
    return session

In [8]:
session = get_session()

In [9]:
session

In [10]:
with engine.connect() as connection:
    result = connection.execute(text("select case_num, vehicle_num, violation_id, month, year, day, price, weather_id, weather_name, light_level, light_desc from incident NATURAL JOIN vehicle NATURAL JOIN violation NATURAL JOIN weather NATURAL JOIN Light NATURAL JOIN gas"))
    
    #for row in result:
    #    print(row)

In [11]:
df =  pd.DataFrame(result)

In [14]:
col_names = ['Case Num', 'Vehicle Num', 'Violation ID', 'Month', 'Year', 'Weekday', 'Gas Price', 'Weather ID', 'Weather', 'Light Level', 'Light']

In [15]:
df.columns = col_names

In [16]:
df.head()

,Case Num,Vehicle Num,Violation ID,Month,Year,Weekday,Gas Price,Weather ID,Weather,Light Level,Light
0,202002121849,1,4,1,2020,Wednesday,2.548,1,Clear,1,Daylight
1,202002121849,2,5,1,2020,Wednesday,2.548,1,Clear,1,Daylight
2,202002123484,1,6,1,2020,Wednesday,2.548,4,Snow,1,Daylight
3,202002123576,1,7,1,2020,Wednesday,2.548,4,Snow,2,Dark - Not Lighted
4,202002125149,1,9,1,2020,Friday,2.548,10,Cloudy,2,Dark - Not Lighted