In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.orm import sessionmaker
from connector_config import postgresql as settings

In [2]:
def get_engine(user, passwd, host, port, db):
    url = f"postgresql://{user}:{passwd}@{host}:{port}/{db}"
    engine = create_engine(url, pool_size=50, echo=False)
    return engine

In [3]:
engine = get_engine(settings['pguser'],
    settings['pgpasswd'],
    settings['pghost'],
    settings['pgport'],
    settings['pgdb'])

In [4]:
engine.url

postgresql://postgres:***@34.133.128.59:5432/postgres

In [5]:
def get_engine_from_settings():
    keys = ['pguser', 'pgpasswd', 'pghost', 'pgport', 'pgdb']

    if not all(key in keys for key in settings.keys()):
        raise Exception('Bad Config File')
    return get_engine(settings['pguser'],
        settings['pgpasswd'],
        settings['pghost'],
        settings['pgport'],
        settings['pgdb'])

In [6]:
engine = get_engine_from_settings()

In [7]:
def get_session():
    engine = get_engine_from_settings()
    session = sessionmaker(bind=engine)()
    return session

In [8]:
session = get_session()

In [9]:
session

In [10]:
with engine.connect() as connection:
    incident_level_result = connection.execute(text("select case_num, month, year, day, region_num, region_name, weather_id, weather_name, light_level, light_desc, price from incident NATURAL JOIN region NATURAL JOIN weather NATURAL JOIN Light NATURAL JOIN gas ORDER BY case_num"))
    vehicle_level_result = connection.execute(text("select case_num, vehicle_num, month, year, day, region_num, region_name, weather_id, weather_name, light_level, light_desc, fatality, alcohol price, price from incident NATURAL JOIN vehicle NATURAL JOIN region NATURAL JOIN weather NATURAL JOIN Light NATURAL JOIN gas ORDER BY case_num"))
    violation_level_result = connection.execute(text("select case_num, vehicle_num, violation_code, violation_desc, month, year, day, region_num, region_name, weather_id, weather_name, light_level, light_desc, fatality, alcohol, price from incident NATURAL JOIN vehicle NATURAL JOIN violation NATURAL JOIN region NATURAL JOIN weather NATURAL JOIN Light NATURAL JOIN gas ORDER BY case_num"))
    driver_level_result = connection.execute(text("select case_num, vehicle_num, age, month, year, day, region_num, region_name, weather_id, weather_name, light_level, light_desc, fatality, alcohol, price from incident NATURAL JOIN vehicle NATURAL JOIN driver NATURAL JOIN region NATURAL JOIN weather NATURAL JOIN Light NATURAL JOIN gas ORDER BY case_num"))

    #result = connection.execute(text("select incident.case_num, vehicle.vehicle_num, violation_code, month, year, day from incident JOIN vehicle ON incident.case_num = vehicle.case_num JOIN violation ON vehicle.case_num = violation.case_num AND vehicle.vehicle_num = violation.vehicle_num ORDER BY incident.case_num"))
    #for row in result:
        #print(row)

In [11]:
incident_level_df =  pd.DataFrame(incident_level_result)
vehicle_level_df =  pd.DataFrame(vehicle_level_result)
violation_level_df =  pd.DataFrame(violation_level_result)
driver_level_df =  pd.DataFrame(driver_level_result)

In [12]:
incident_col_names = ['Case Num', 'Month', 'Year', 'Weekday', 'Region', 'Region Desc', 'Weather ID', 'Weather', 'Light Level', 'Light', 'Gas Price']
vehicle_col_names = ['Case Num', 'Vehicle Num', 'Month', 'Year', 'Weekday', 'Region', 'Region Desc', 'Weather ID', 'Weather', 'Light Level', 'Light', 'Fatality', 'Alcohol', 'Gas Price']
violation_col_names = ['Case Num', 'Vehicle Num', 'Violation Code', 'Violation Desc', 'Month', 'Year', 'Weekday', 'Region', 'Region Desc', 'Weather ID', 'Weather', 'Light Level', 'Light', 'Fatality', 'Alcohol', 'Gas Price']
driver_col_names = ['Case Num', 'Vehicle Num', 'Age', 'Month', 'Year', 'Weekday', 'Region', 'Region Desc', 'Weather ID', 'Weather', 'Light Level', 'Light', 'Fatality', 'Alcohol', 'Gas Price']
#col_names = ['Case Num', 'Vehicle Num', 'Violation Code', 'Month', 'Year', 'Weekday']

In [13]:
incident_level_df.columns = incident_col_names
vehicle_level_df.columns = vehicle_col_names
violation_level_df.columns = violation_col_names
driver_level_df.columns = driver_col_names

In [14]:
incident_level_df.count()

Case Num       54745
Month          54745
Year           54745
Weekday        54745
Region         54745
Region Desc    54745
Weather ID     54745
Weather        54745
Light Level    54745
Light          54745
Gas Price      54745
dtype: int64

In [15]:
vehicle_level_df.count()

Case Num       94718
Vehicle Num    94718
Month          94718
Year           94718
Weekday        94718
Region         94718
Region Desc    94718
Weather ID     94718
Weather        94718
Light Level    94718
Light          94718
Fatality       94718
Alcohol        94718
Gas Price      94718
dtype: int64

In [16]:
violation_level_df.count()

Case Num          101741
Vehicle Num       101741
Violation Code    101741
Violation Desc    101741
Month             101741
Year              101741
Weekday           101741
Region            101741
Region Desc       101741
Weather ID        101741
Weather           101741
Light Level       101741
Light             101741
Fatality          101741
Alcohol           101741
Gas Price         101741
dtype: int64

In [17]:
driver_level_df.count()

Case Num       94500
Vehicle Num    94500
Age            94500
Month          94500
Year           94500
Weekday        94500
Region         94500
Region Desc    94500
Weather ID     94500
Weather        94500
Light Level    94500
Light          94500
Fatality       94500
Alcohol        94500
Gas Price      94500
dtype: int64

In [18]:
incident_level_df.head()

,Case Num,Month,Year,Weekday,Region,Region Desc,Weather ID,Weather,Light Level,Light,Gas Price
0,202002121240,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,2.548
1,202002121829,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,2,Dark - Not Lighted,2.548
2,202002121849,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,2.548
3,202002123484,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",4,Snow,1,Daylight,2.548
4,202002123576,1,2020,Wednesday,1,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",4,Snow,2,Dark - Not Lighted,2.548

In [19]:
incident_level_df.dtypes

Case Num        int64
Month           int64
Year            int64
Weekday        object
Region          int64
Region Desc    object
Weather ID      int64
Weather        object
Light Level     int64
Light          object
Gas Price      object
dtype: object

In [20]:
vehicle_level_df.head()

,Case Num,Vehicle Num,Month,Year,Weekday,Region,Region Desc,Weather ID,Weather,Light Level,Light,Fatality,Alcohol,Gas Price
0,202002121240,1,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
1,202002121240,2,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
2,202002121829,1,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,2,Dark - Not Lighted,False,False,2.548
3,202002121849,1,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548
4,202002121849,2,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548

In [21]:
vehicle_level_df.dtypes

Case Num        int64
Vehicle Num     int64
Month           int64
Year            int64
Weekday        object
Region          int64
Region Desc    object
Weather ID      int64
Weather        object
Light Level     int64
Light          object
Fatality         bool
Alcohol          bool
Gas Price      object
dtype: object

In [22]:
violation_level_df.head()

,Case Num,Vehicle Num,Violation Code,Violation Desc,Month,Year,Weekday,Region,Region Desc,Weather ID,Weather,Light Level,Light,Fatality,Alcohol,Gas Price
0,202002121240,1,46,Fail to yield generally,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
1,202002121240,2,0,None,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
2,202002121829,1,98,"Other moving violation (coasting, backing, ope...",1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,2,Dark - Not Lighted,False,False,2.548
3,202002121849,1,0,None,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548
4,202002121849,2,0,None,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548

In [23]:
violation_level_df.dtypes

Case Num           int64
Vehicle Num        int64
Violation Code     int64
Violation Desc    object
Month              int64
Year               int64
Weekday           object
Region             int64
Region Desc       object
Weather ID         int64
Weather           object
Light Level        int64
Light             object
Fatality            bool
Alcohol             bool
Gas Price         object
dtype: object

In [24]:
driver_level_df.head()

,Case Num,Vehicle Num,Age,Month,Year,Weekday,Region,Region Desc,Weather ID,Weather,Light Level,Light,Fatality,Alcohol,Gas Price
0,202002121240,1,61,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
1,202002121240,2,26,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
2,202002121829,1,23,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,2,Dark - Not Lighted,False,False,2.548
3,202002121849,1,27,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548
4,202002121849,2,21,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548

In [25]:
driver_level_df.dtypes

Case Num        int64
Vehicle Num     int64
Age             int64
Month           int64
Year            int64
Weekday        object
Region          int64
Region Desc    object
Weather ID      int64
Weather        object
Light Level     int64
Light          object
Fatality         bool
Alcohol          bool
Gas Price      object
dtype: object

In [27]:
incident_level_df.to_csv('../datasets/completed_datasets/incident_level.csv')

In [28]:
vehicle_level_df.to_csv('../datasets/completed_datasets/vehicle_level.csv')

In [29]:
violation_level_df.to_csv('../datasets/completed_datasets/violation_level.csv')

In [26]:
driver_level_df.to_csv('../datasets/completed_datasets/driver_level.csv')

,Case Num,Vehicle Num,Age,Month,Year,Weekday,Region,Region Desc,Weather ID,Weather,Light Level,Light,Fatality,Alcohol,Gas Price
0,202002121240,1,61,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
1,202002121240,2,26,1,2020,Wednesday,4,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",10,Cloudy,1,Daylight,False,False,2.548
2,202002121829,1,23,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,2,Dark - Not Lighted,False,False,2.548
3,202002121849,1,27,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548
4,202002121849,2,21,1,2020,Wednesday,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,Clear,1,Daylight,False,False,2.548